@font-face {
  font-family: "Bubbleboddy neue";
  src: url("/src/assets/fonts/BubbleboddyNeue-Bold\ Trial.ttf");
}
@font-face {
  font-family: "Comfortaa";
  src: url("/src/assets/fonts/Comfortaa-Light.ttf");
}
